

/* Estilos para el contenido */
.content {
  width: calc(100% - 320px);
  }
  
  #destacados, #todos-los-libros {
  margin: 1em 0;
  padding: 0 1em;
  }
  
  #destacados h2, #todos-los-libros h2 {
  font-size: 3em;
  font-weight: bold;
  color: #ff7f50;
  margin: 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  }